<div>
  <div>
    <div>
      <%= render 'shared/errors', obj: @article %>
      <%= form_with(model: @article, local: true) do |f| %>
        <div>
          <%= f.label :title %>
          <div>
            <%= f.text_field :title, placeholder: "Title of article" %>
          </div>
        </div>

        <div>
          <%= f.label :description %>
          <div>
            <%= f.text_area :description, rows: 10, placeholder: "Description of article" %>
          </div>
        </div>

        <div>
          <%= f.label :categories %>
          <div>
            <%= f.collection_select(:category_ids, Category.all, :id, :name, 
            { prompt: "Make Your Selections (Not Required)" }, { multiple: true, size: 8 }) %>
          </div>
        </div>

        <div>
          <%= f.submit %>
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to 'Cancel', articles_path %>
    </div>
  </div>
</div>