<h1><%= @article.title %></h1>
<small>by <%= link_to @article.user.username, user_path(@article.user) %></small>
<p><%= @article.description %></p>
<p>
  <small>Updated <%= time_ago_in_words(@article.updated_at) %> ago</small><br>
  <small>Created: <%= @article.created_at %></small><br>
  
</p>
<p>
  <span><%= link_to 'Return', articles_path %></span>
  <% if logged_in? && @article.user == current_user %>
        | 
        <span><%= link_to 'Edit', edit_article_path(@article) %></span>
        | 
        <span><%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"}  %></span>
      <% end %>
</p>