<div>
  <div>
    <div>
      <%= render 'shared/errors', obj: @user %>
      <%= form_with(model: @user, local: true) do |f| %>
        <div>
          <%= f.label :user %>
          <div>
            <%= f.text_field :username, placeholder: "Username" %>
          </div>
        </div>

        <div>
          <%= f.label :email %>
          <div> 
            <%= f.email_field :email,  placeholder: "Email" %>
          </div>
        </div>

        <div>
          <%= f.label :password %>
          <div> 
            <%= f.password_field :password,  placeholder: "Password" %>
          </div>
        </div>

        <div>
          <%= f.submit(@user.new_record? ? "Sign Up" : "Update User") %>
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to 'Cancel', articles_path %>
    </div>
  </div>
</div>