<h1><%= @user.username %></h1>

<%= gravatar_for @user, size: 100, styles: 'width:150px' %>

<%= link_to "Edit your profile", edit_user_path(@user) %>

<h2><%= @user.username %>'s Articles</h2>

<%= render 'articles/article' %>