<h1>Create a New Category</h1>
<div>
  <div>
    <div>
      <%= render 'shared/errors', obj: @category %>
      <%= form_with(model: @category, local: true) do |f| %>
        <div>
          <%= f.label :name, "Category Name" %>
          <div>
            <%= f.text_field :name, placeholder: "Enter a Category" %>
          </div>
        </div>

        <div>
          <%= f.submit %>
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to 'Cancel', root_path %>
    </div>
  </div>
</div>