<header>
  <nav>
    <code><%= link_to 'ALPHA BLOG', root_path %></code>
    <%= link_to 'Articles', articles_path %>
    <%= link_to 'Bloggers', users_path %>
    <%= link_to 'About', about_path %>
    <% if logged_in? %>
      <%= link_to 'New Post', new_article_path %>
      <%= link_to current_user.username, user_path(current_user) %>
      <%= link_to 'Logout', logout_path, method: :delete %>
    <% else %>  
      <%= link_to 'Log in', login_path %>
      <%= link_to 'Sign Up', signup_path %>
    <% end %>
  </nav>
</header>